
/* Cascading Style Sheets */
@font-face {
    font-family: myFirstFont;
    src: url(../Poppins/Poppins-Regular.ttf);
 }
 
    @font-face {
     font-family: bold;
     src: url(../Poppins/Poppins-Bold.ttf);
    }
 *{
    margin: 0;
    padding: 0;
    font-family: myFirstFont; 
    /* border: 1px solid yellow; */
 }
 
    /* Website Scrollerbar */
    body::-webkit-scrollbar {
      width: 5px !important;
      height: 5px !important;
  }
  body::-webkit-scrollbar-track {
      background: #3838387c !important;
  }
  body::-webkit-scrollbar-thumb {
      background-color: #000 !important;
      border: 1px solid #000 !important;
      border-radius: 1px !important;
  }
 
  .mess::-webkit-scrollbar {
      width: 5px !important;
      height: 5px !important;
  }
  .mess::-webkit-scrollbar-track {
      background: #3838387c !important;
  }
  .mess::-webkit-scrollbar-thumb {
      background-color: #fff !important;
      border: 1px solid #fff !important;
      border-radius: 1px !important;
  }
  body{
    background-color: #fff;
  }
 .header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.6),rgba(4,9,30,0.6)),url(../image/Corpus_Christi_College_New_Court\,_Cambridge\,_UK_-_Diliff.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
 }
 nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
 }
 nav img{
    width: 150px;
 }
 .nav-links{
    flex: 1;
    text-align: right;
    
 }
 .nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
    
 }
 .nav-links a{
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    
 }
 .nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #ff0000;
    display: block;
    margin: auto;
    transition: 0.5s;
    
 }
 .nav-links ul li:hover::after{
    width: 100%;
    
 }
 .text-box{
    width: 90%;
    color: #fff;
    position:absolute;
    top: 5px;
    left: 40%;
    transform: translate(-50%,50%);
    text-align: center;
 }
 .text-box h1{
    top: ;
    font-size: 62px;
    font-weight: bold;
    text-decoration: none;
    text-shadow: 10px 10px 24px 0px #fff(0, 0, 0, 0.664);
    color: #fff;
 }
   
 .icon{
    display:none;
 }
 

/* Course */

.course{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
h1{
    font-size: 36px;
    font-weight: 300;
}
p{
    color:#777;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}
.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}
.course-col{
    flex-basis: 31%;
    background: #fff3f3;
    border-radius: 10px;
    margin-bottom:5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
}
h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0px;
}
.course-col:hover p{
    color: #fff;
}
.course-col:hover{
    box-shadow: 10px 10px 24px 0px rgba(0,0,0,1);
    background-image: linear-gradient(#F761A1,#8C1BAB);
}

    /*Campus*/


.campus1{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}
.campus-col{
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}
.campus-col img{
    width: 100%;
    display: block;
}
.layer{
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0%;
    left: 0%;
    transition: 0.5s;
}

.layer:hover{
    background: rgba(0, 245, 253, 0.534);

    /* rgba(253, 0, 0, 0.7); */
}

.layer h3{
    width: 100%;
    font-weight: 500;
    color: #fff;
    font-size: 26px;
    bottom: 0%;
    left: 50%;
    transform: translate(-50%);
    position: absolute;
    opacity: 0;
    transition: 0.5s;
}

.layer:hover h3{
    opacity: 1;
    bottom: 49%;
}

/* Call To Action */

.ctn{
    margin: 100px auto;
    width: 420px;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../image/COLLEGE\ MATE\ bg.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    text-align: center;
    padding: 140px 0;
    transition: 0.5s;
    backdrop-filter: blur(2px);
    box-shadow: 10px 10px 24px 0px rgba(0, 0, 0, 0.664);
}

.ctn:hover{
    margin: 100px auto;
    width: 450px;
    background-image:linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)),url(../image/COLLEGE\ MATE\ bg.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    padding: 150px 0;
    box-shadow: 24px 24px 10px 0px rgba(0, 0, 0, 0.664);
}
.ctn .button{
    bottom: 0px;
}



/* Footer */

.footer{
    width: 100%;
    text-align: center;
    padding: 30px 0;
    margin-top: -50px;
}

.footer h4{
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 800;
    text-decoration: underline;
    text-shadow: 24px 24px 10px 0px grey (0, 0, 0, 0.664);
}

.footer .hero-btn{
    display: inline-block;
    text-decoration: none;
    color: black;
    border: 2px solid purple;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
    border-radius: 5px;
}
.footer .hero-btn:hover{
    color: white;
    border: 2px solid white;
    background:purple;
    transition: 0.5s;
}

footer h5 {
    padding: 3cm 7cm;
    display: flex;
    min-height: fit-content;
    position: sticky;
  }
  
  footer h5 li {
    text-decoration: underline;
    list-style: none;
    
  }

    /*Course in Media query*/
   
    .course-col{
        margin: 10px 10px;
    }
    .row{
        flex-direction: column;  
    }   
    .course-col:hover{
        box-shadow: 3px 3px 0.5px 0.5px rgba(0, 0, 0, 0.486);
    }
        /* Facilities */
    .facilities-col img:hover{
        box-shadow:none;
    }

    /* Call To Action in Media query*/
    .ctn h1{
        font-size: 24px;
    }